<h3>How You Can Help</h3>
<div class='row'>
	<div class='span11'>
		Thank you for supporting our children and our Schools! We would be happy to speak with you about the many ways you can help make Stand Tall: The Campaign for a Bright Kids’ Campus a success. For example, you may:<br><br>
<ul>
	<li>Contact us to learn about naming opportunities that serve as memorable ways to honor friends and family.</li>
	<li>Call us to discuss such giving options as bequests, estate notes, and annuities; single- and multi-year pledges; corporate matching programs; gifts of retirement plans, stocks and bonds; and other ways to support the Campaign financially while securing your own future.</li>
	<li>Consider hosting an event designed to raise awareness about our Schools and Campaign.</li>
	<li>Sponsor a speaker at a community event.</li>
	<li>Schedule a tour of our Schools for yourself or a friend.</li>
	<br>
</ul>
Please contact Campaign Chair Joanne Steinback (phone 847-921-7304; jimjo@steinback.com) to learn more. We’re always happy to hear from you. Thank you!<br>
</div>
</div>
<div class='row'>
	<div class='span5'>
<h4>Make a gift online right now:</h4> 
To make an easy, secure donation by credit card:<br><br>

<form  class="navbar-form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PEH56KZ97GV4G">
<button class='btn'>Donate now</button>
</form>	
	</div>
	<div class='span5'>
<h4>By Mail:</h4>
Donate via check or credit card by printing our <%= link_to 'donation form', '#' %>, and sending your contribution to:<br>
<br>
Leslie Shankman School Corporation<br>
Attn: Abby Simon<br>
1365 E. 60th Street<br>
Chicago, IL 60637<br>

</div>
</div>