<script type="text/javascript">
function Foo() {
	document.getElementById('prog_bar').style.width = '100%' ;
}
</script>

<div class="row">
  <div class="span4">
		<h3>An animated Progress Bar</h3>
     	<div class="progress progress-striped active">
  			<div id="prog_bar" class="bar" style="width: 50%;"></div>
		</div>
		<br>
		<button onClick="Foo()">Update</button>
  </div>
</div>

