<style>
.center {
    margin-left: auto;
    margin-right: auto;
}
</style>
<br>
<div class='row center'>
	<div class='span12'>
		<h3>Groundbreaking Ceremony</h3>
		<b>Sunday, September 22, 2012</b><br>
	<% pix = Dir.glob("app/assets/images/groundbreaking/*") %>
	<% thumbs = pix.select { |i| i =~ /_s.jpg/} %>
	<% rows = thumbs.in_groups_of(5) %>
	<% rows.each do |pix| %>
		<% pix.each do |pic| %>
			<%= link_to image_tag(pic.to_s.gsub('app/assets/images/', ''), :class => "img-polaroid" ), 
			 	image_path( pic.to_s.gsub('app/assets/images/', '').gsub('_s.jpg', '.jpg') ), 
			 :target => '_blank' if !pic.nil? %>
		<% end %>
		<br>
	<% end %>
	
	</div>
</div>

