<style>
.modal {
    width: 600px;
	height: 500px;
    margin-left: -300px; /* - width/2 */
}
</style>

<br>

          <!-- sample modal content -->
          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 id="myModalLabel">Ground Breaking Ceremony Pictures</h3>
            </div>
            <div class="modal-body">
	

			   <div id="myCarousel" class="carousel slide">  
			     <!-- Carousel items -->  
				   <div class="carousel-inner">  
					<% pix = Dir.glob("app/assets/images/groundbreaking/*") %>
					<% thumbs = pix.select { |i| i =~ /_s.jpg/} %>
					<% thumbs.each_with_index do |pix,i| %>
						<% if i == 0 %>
						<% clas = 'item active' %>
						<% else %>
						<% clas = 'item' %>
						<% end %>
				        <div class="<%= clas %>"><%= image_tag(pix.to_s.gsub('app/assets/images/', '').gsub('_s.jpg', '.jpg'), :class => "img-polaroid", :size => '600x450' ) %>
							<div class="carousel-caption">
								<p>September 22, 2012</p>
							</div>
						</div> 
			 		<% end %>
				  </div>  
			  <!-- Carousel nav -->  
				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
				</div>  
				


            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>


<div class='row center_images'>
	<div class='span12'>
		<h3>Groundbreaking Ceremony</h3>
		<div class="bs-docs-example" style="padding-bottom: 24px;">
          <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Slide Show</a>
        </div>
        
		<b>Sunday, September 22, 2012</b><br><br>
	<% pix = Dir.glob("app/assets/images/groundbreaking/*") %>
	<% thumbs = pix.select { |i| i =~ /_s.jpg/} %>
	<% rows = thumbs.in_groups_of(4) %>
	<% rows.each do |pix| %>
		<% pix.each do |pic| %>
			<%= link_to image_tag(pic.to_s.gsub('app/assets/images/', ''), :class => "img-polaroid" ), 
			 	image_path( pic.to_s.gsub('app/assets/images/', '').gsub('_s.jpg', '.jpg') ), 
			 :target => '_blank' if !pic.nil? %>
		<% end %>
		<br>
	<% end %>
	
	</div>
</div>




<br>
<br>


