
<div class='row'>
	<div class='span8 offset1'>
		
	<div class='row'>
		<div class='pull-right'>
			<%= image_tag('BeforeIFound.png') %>
		</div>
	</div>



	<div class='row'>
		<div class='span7'>
			<%= image_tag('StandTallBanner.png', :size => '500x148') %>
		</div>
	</div>

<br>
	<div class='row'>
		<div class='span6 offset1 double_space'>
Most people rarely hear these types of stories about a school. But they represent a common sentiment among the parents of Orthogenic School and Hyde Park Day School students.<br><br>
At first glance, our two schools might seem worlds apart. The Sonia Shankman Orthogenic School (affectionately known as the O-School) is a primarily residential school for bright students who are coping with profound emotional challenges. Our staff members address everything from academic abilities to life skills, self-control methods to medication, individual issues to family concerns.<br><br>
Right next to the O-School, Hyde Park Day School staff members work with a very different group of bright students whose learning challenges cannot be met in mainstream schools. Teachers and other professionals foster academic mastery while boosting students’ confidence and helping them understand and address their learning strengths and challenges.<br><br>

Despite their differences, our two Schools share a single powerful mission:<br> 
<em style='color:#ff0000;font-size:16px;'>To transform the lives of students and families by helping them recognize and accommodate their learning and emotional challenges.</em><br><br>

Here, countless children who would otherwise have nowhere to turn are embraced, nurtured, and set 
on their feet again ... loving families that would otherwise be torn apart regain their balance ... and a community that would otherwise overlook the talents of our youth instead can be enriched by their 
incredible gifts.<br><br> 
Thanks to these astonishing schools, students stand tall, secure in their worth and abilities. Parents 
stand tall, proud of their wonderful children. We all stand tall, honored to recognize and accept the 
gifts of our entire community.<br><br>

</div>
</div>

</div>
</div>

<br>

<ul class="pager">
  <li>
    <a href="#">Previous</a>
  </li>
  <li>
    <a href="#">Next</a>
  </li>
</ul>
