<style>
.ds {
line-height: 2em;
font-family: Georgia, 'Times New Roman', Times, serif;
}
</style>

<div class='row'>
	<div class='span7'>
		<%= image_tag('StandTallBanner.png', :size => '500x148') %>
	</div>
</div>
<div class='row'>
	<div class='span9 offset1 ds'>
<p>Please join me in supporting Stand Tall: The Campaign for a Bright Kids’ Campus. Together we can transform the lives of countless students and families, as well as the Woodlawn community.
Explore this site to learn more about how our campaign will change the lives of young people who would otherwise have nowhere to turn… how our new campus will meet the distinct needs of our students and families… how our Woodlawn neighbors have become our Woodlawn partners… and how you can help our Schools thrive during this very exciting time.</p>
	</div>
	<div class='span5 offset5 ds'>
		<b>Joanne Steinback<b><br>
			<em>Campaign Chair and Board Member</em>
	</div>
</div>
<hr>
		<div class='row'>
			<div class='span3 offset1' style='border-bottom-color: #C7C2BC;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-left-color: #C7C2BC;
			border-left-style: solid;
			border-left-width: 1px;
			border-right-color: #C7C2BC;
			border-right-style: solid;
			border-right-width: 1px;
			border-top-color: #C7C2BC;
			border-top-style: solid;
			border-top-width: 1px;'>
				<p>New Campus Progress...</p>
				<%= image_tag('IMG_7799.jpg', :class => "img-rounded", :size => '200x200') %><br>
				<p>Groundbreaking Celebration...</p>			
			</div>
			<div class='span3'>
				<p>Sonia Shankman Orthogenic School at the University of Chicago 
					<%= image_tag('old_schools.png', :size => '127x64' ) %><br><br>
					Homecoming 2012
					Rekindle, Reunite and Reminisce</p>				
				</div>
		</div>
<hr>
<div class="row">
  <div class="span4">
    <h4>The Sonia Shankman Orthogenic School</h4>
    <p>The Orthogenic School is a residential and day school for bright students who are coping with profound emotional challenges. Over the course of nearly 100 years, the O-School’s distinctive blend of academic rigor and relationship-based treatment has enabled more than 80 percent of students to return home to their families and mainstream schools.</p>
    <p><a class="btn btn-mini" href="#">Info on the O-School &raquo;</a></p>
  </div>
  <div class="span4">
    <h4>The Hyde Park Day School</h4>
    <p>Hyde Park Day School offers bright students with learning disabilities an innovative and comprehensive education. Our intensive, individualized curriculum prepares students for successful transitions to mainstream schools.  Our teachers and staff focus on academic and self-advocacy skills in a collaborative environment, enhancing students’ self-esteem and self confidence while fostering a positive attitude toward learning.</p>
    <p><a class="btn btn-mini" href="#">Info on the HPDS &raquo;</a></p>
 </div>
  <div class="span4">
    <h4>Our New Campus</h4>
    <p>Our expansion will enable us to reach more children and families than ever 
	before.  Our new space will also equip us to better serve the community 
	around us. The campus will transform nearly a full city block in Woodlawn 
	and will offer neighborhood residents facilities and resources not currently 
	available to them.</p>
    <p><a class="btn btn-mini" href="#">Info on the New Campus &raquo;</a></p>
<%= image_tag('NewCampusRendering.png', :size => '310x310') %>
  </div>
</div>


<br>


