
<div class='row'>
	<div class='span8 offset1'>
		<%= image_tag('StandTallBanner.png', :size => '500x148') %>
	</div>
</div>
<div class='row'>
	<div class='span6 offset2 double_space'>
<p>Please join me in supporting Stand Tall: The Campaign for a Bright Kids’ Campus. &nbsp;&nbsp; Together we can transform the lives of countless students and families, as well as the Woodlawn community. &nbsp;&nbsp; 
Explore this site to learn more about how our campaign will change the lives of young people who would otherwise have nowhere to turn…  &nbsp;&nbsp; how our new campus will meet the distinct needs of our students and families…  &nbsp;&nbsp; how our Woodlawn neighbors have become our Woodlawn partners…  &nbsp;&nbsp; and how you can help our Schools thrive during this very exciting time.</p>
	</div>
	<br>

	<div class='span5 offset2 double_space'>
		<b>Joanne Steinback<b><br>
			<em>Campaign Chair and Board Member</em>
		<br><br>
		<%= link_to 'Enter Site and Learn more', home_start_path, :class => 'btn btn-success' %>
		
	</div>
</div>

<br>
<br>
<br>