<script>
$(function() {
    $('#myCarousel').carousel({
       interval: 8000
    });
});
</script>
<br>
<div class'row'>
	<div class='span5'>

		   <div id="myCarousel" class="carousel slide">  
		     <!-- Carousel items -->  
			   <div class="carousel-inner">  
				<% thumbs = [ 'groundbreaking/IMG_7682.jpg', 'groundbreaking/IMG_7697.jpg', 'groundbreaking/IMG_7434.jpg'] %>
				<% thumbs.each_with_index do |pix,i| %>
					<% if i == 0 %>
					<% clas = 'item active' %>
					<% else %>
					<% clas = 'item' %>
					<% end %>
			        <div class="<%= clas %>"><%= image_tag(pix ) %>
					</div> 
		 		<% end %>
			  </div>  
		  <!-- Carousel nav -->  
			</div>
	</div>
	<div class='span6'>		
<table  style='margin: auto;'>
	<tr>
		<td>
				<%= image_tag('StandTallBanner.png', :size => '500x148') %>
	  			<div class='double_space span8'>
		
				<p style='font-size: 16px;font-weight: 200;'>
					<br>Welcome to our Collaboration.<br><br>
					A place to store information and collect ideas on how best to help our two schools and their students achieve their fullest potential.<br><br>Together we can transform the lives of countless students and families, as well as the Woodlawn community. &nbsp;&nbsp;</p><br>

			</div>
<%= link_to 'Enter Site and Learn more', start_path, :class => 'btn btn-success btn-large' %>
<br><br>
</td>
	</tr>
</table>
	</div>
</div>
<br>
<br>
<br>

