<script type="text/javascript">
$(document).ready(function(){
  FindByCriteria();
})

function FindByCriteria() {
   Type_is = document.getElementById('type_is').value ;
    $.get('<%= search_posts_path %>', 
	          { type_is:Type_is }, 
	                  function(data) {
	            $("#table").html(data);
	          });
  }


</script>
<div class='row'>
<div class='span12'>
	<h3>Discussion</h3>
	<%= select_tag "type_is", options_for_select(['All', 'Discussion', 'News']), :onchange => "FindByCriteria();", :class => 'span2' %>

<div id='table'>
<%= will_paginate @posts, :class => 'pagination pagination-centered pagination-small'%>
<%= link_to 'New Discussion', new_post_path, :class => 'btn btn-primary btn-mini', :style => 'text-align:center;'%>
</div>
</div>

<br />



