.introbox
	{
	min-height: 300px;
	padding: 10px ;
	box-shadow: 6px 6px 6px #888888;
	}

.schoolbox
	{
	min-height: 300px;
	box-shadow: 6px 6px 6px #888888;
	}

/* Carousel base class */

.carousel .container {
  position: absolute;
  right: 0;
  top: 30px;
  left: 0;
}

.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 120px;
  margin-top: 200px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
}
.carousel img {
  min-width: 100%;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  text-align:center;
  padding: 0px 0px 0px;
  margin-bottom: 10px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: absolute;
}



.center_table {
    margin-left: auto;
    margin-right: auto;
}

.center_text {
text-align: center
}

.blank_box {
  position: relative;
  margin: 15px 0;
  padding: 19px 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


.message_box,
.attachment_box {
  position: relative;
  margin: 15px 0;
  padding: 18px 15px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.left_corner, {
  position: absolute;
  top: -1px;
  left: 0px;
}

.btn-primary,
.btn-success {
color:white;
	&:visited {
  		color: white;
			  }
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
